<% if signed_in? %>
  <div class="row">
    <div class="span8">
      <h3>Ferraris</h3>
      <%= render 'ferraris/list' %>
    </div>
</div>

<% else %>
    <div class="center hero-unit">
    <h1>scuderia.com</h1>

    <h2>
      This is the home page for the
      <a href="#">Scuderia.com</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
    </div>
<% end %>