// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-blog {
    background-image: url("/assets/header-blog.jpg");
    #description {
        width:240px !important;
    }
}

#blog-copy {
    margin-top:20px;
    margin-bottom:20px;
    #title {
        font-family:"Conv_GothamNarrow-Book";
        color:#EEC200;
        font-size:24px;
        margin-bottom:10px;
    }
    #description {
        
    }
}

.blog-item {
    cursor:pointer;
    padding:6px;
    border:1px solid #cccccc;
    background-color:#ffffff;
    .thumbnail {
        padding:0px;
    }
    #title {
        text-transform:uppercase;
        font-family:"Conv_Gotham-Bold";
        margin-top:5px;
        margin-bottom:5px;
    }
    .avatar {
        margin-top:5px;
        margin-bottom:5px;
        height:60px;
        img {
            height:60px;
            width:60px;
        }
    }
    > #description {
        margin-top:5px;
    }
}

#blog-post {
    padding-right:0px;
    #date {
        margin-top:20px;
        font-size:18px;
    }
    h1 {
        text-transform:uppercase;
        text-align:left;
        color:#000000;
        font-size:34px;
        font-family:"Conv_Gotham-Medium";
        margin-bottom:10px;
    }
    h2 {
        padding:0px;
        color:#030303;
    }
    #image {
        margin-top:15px;
    }
    #description {
        font-family:Arial, sans-serif;
        color:#030303;
        margin-top:10px;
        font-size:15px;
    }
    
    #blog_sidebar {
        background-color:#cccccc;
        height:100%;
        padding:10px;
        li {
            font-size:16px;
            font-family:"Conv_GothamNarrow-Book";
        }    
        h1 {
            font-size:24px;
        }
        a {
            text-decoration:underline;
        }
    }
    
    .actions {
        margin-top:20px;
    }
}
