// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-blog {
    background-image: url("/assets/header-blog.jpg");
    #description {
        width:240px !important;
    }
}

#blog-copy {
    margin-top:20px;
    margin-bottom:20px;
    #title {
        font-family:"Conv_GothamNarrow-Book";
        color:#EEC200;
        font-size:24px;
        margin-bottom:10px;
    }
    #description {
        
    }
}

.blog-item {
    .thumbnail {
        padding:0px;
    }
    #title {
        text-transform:uppercase;
        font-family:"Conv_Gotham-Bold";
    }
    .line-separator{
        height:1px;
        background:#cccccc;
        border-bottom:1px solid #cccccc;
        margin-top:5px;
        margin-bottom:5px;
    }
    .avatar {
        height:40px;
        img {
            height:40px;
            width:40px;
        }
    }
}