.page-button {
    height: 25px;
    width: 25px;
    position: relative;
    display: inline-block;
    background-color: #FCD112;
    color: #303030;
    text-align: center;
    line-height: 23px;
    margin-left: 5px;
    margin-top:5px;
    margin-bottom:5px;
    cursor:pointer;
}

.page-selected {
    background-color: #303030;
    color: #FCD112;
}

.paginations { 
    text-align:right;
    height: 45px;
}

.results {
    display: inline-block;
    background-color: #FCD112;
    color: #303030;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Conv_GothamNarrow-Medium",sans-serif !important;
}

.ajax-loader {
    text-align:center; 
    height:100px; 
    line-height:100px;
}