.item img{
    margin:0 auto;
}

.ferrari {
    cursor: pointer;
}

.ferrari-line {
    height: 155px;
    background-color: #E4E4E4;
    margin-bottom: 10px;
    overflow:hidden;
}

.ferrari-line-hover {
    background-color: #D6D6D6 !important;
    cursor:pointer;
}

.ferrari-line img {
        height: 155px !important;
}

.modal {
    width: 800px;
    margin-left: -400px; /* - width/2 */
}

.ferrari-list-details {
    background-color:#E4E4E4;
    color:#626262;
    height:155px;
    div {
        float:left;
    }
    none{}
    /* ROWS */
    #top-row, #mid-row {
        height:40px;
        border-bottom:1px solid #CCCCCC;
        line-height: 43px;
    }
    #bot-row {
        padding-top: 10px;
        height: 50px;
        font-size: 0.9em;
        overflow: hidden;
    }
    
    #left-col {
        width:120px;
        font-family: "Conv_GothamNarrow-Book",sans-serif;
    }
    
    #mid-col {
        width:310px;
    }
    
    #right-col {
        width:190px;
    }
    
    #desc-col {
        width:500px;
    }
    
}

#forsale {
    overflow:hidden;
}

.header-section {
    height:305px;
    input {
        width:100px;
    }
    #title {
        color: #FCD112;
        font-size: 2.1em;
        margin-top: 30px;
        margin-left: 30px;
    }
    #description { 
        margin-top:10px;
        margin-left: 30px;
        color:#cccccc;
        width:400px;
    }
    #forsale-query-title {
        color: #f0f0f0;
        font-size: 2.1em;
        margin-top: 12px;
        margin-left: 30px;
    }
}

.header-forsale {
    background-image: url("/assets/header-forsale.jpg");
    #filter-year {
        width: 173px;
        float: left;
        margin-top: 28px;
        margin-left: 30px; 
    }
    .fromto {
        width:80px;
    }
    #filter-model {
        margin-top: 28px;
        #model {
            width:120px;
        }
    }
    #dropdown-models {
        color: #FCD112;
        position: relative;
        top: -5px;
        display: inline-block;
        left: -1px;
        border: 1px solid #FCD112;
        padding: 5px;
        padding-left: 8px;
    }
    #filter-price {
        float: left;
        margin-top: 10px;
        margin-left: 30px;
        width: 173px;
    }
    #filter-keywords {
        margin-top:10px;
        float: left;
        width: 158px;
        #keywords {
            width:120px;
        }
    }
    #submit {
        margin-top:10px;
    }
    #filter-year-advanced {
        position:absolute;
    }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #FCD112;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input:focus {
  color:#FCD112;
  border-color: #FCD112;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  font-family:"Conv_GothamNarrow-Light",sans-serif !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  background-color:#202020;
  border-radius:0;
  height:30px;
}