<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>Hello! My name is Ignacio, I'm one of the developers working to improve <B>SCUDERIA.COM</B>,
      I welcome you on behalf of the entire team, and I'd like to invite you to contact us and send us any questions or feedback
      you'd like.</p>
    <p>We are working hard to give you the service you deserve with all the dedication that being a Ferrari enthusiast entails.</p>
    <p>Feel free to contact us at feedback@scuderia.com.</p>
    <p>CHEERS!</p>
    <p>Ignacio Palladino</p>
  </body>
</html>
