<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Ferrari "<%= @ferrari.title %> - <%= @ferrari.car_model.car_model %>" has expired</h1>
    <p>
      Head to <a href="http://scuderia.herokuapp.com/myferraris">Scuderia.com</a> if you would like to re-publish it.<br/>
      Thanks!
    </p>
    <p>
      -The Scuderia Team
    </p>
  </body>
</html>
