<% provide(:title, @user.name) %>

<script type="text/javascript" charset="utf-8">
    App.page = "userpage";
</script>

<div class="row">
    <div class="span12 header-section header-sellferrari">
            <div id="title">
            <% if(@user == current_user) %>
                My Profile
            <% else %>
                <%= @user.name %>
            <% end %>
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div class="secondary-title">
            <% if(@user == current_user) %>
                Review your profile
            <% else %>
                Contact user
            <% end %>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span2 avatar">
        <img src="<%= profile_image(@user) %>" />
    </div>
    <div class="span10 user-title">
        <%= @user.name %>
    </div>
</div>


<%= render 'users/form' %>