<% provide(:title, @user.name) %>

<script type="text/javascript" charset="utf-8">
    App.page = "userpage";
</script>

<div class="row">
    <div class="span12 header-section header-sellferrari">
            <div id="title">
            Sign Up
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div class="secondary-title">
            Create your user
        </div>
    </div>
</div>


<%= render 'users/form' %>