<div class="row ferrari-line">
    <div class="span8 details">
        [<%= link_to ferrari.year.car_year , ferrari.year %>] | 
        <%= link_to ferrari.car_model.car_model, ferrari.car_model %> |
        <%= link_to ferrari.title, ferrari %>
        </div>
    <div class="span4 thumbnails">
        <% ferrari.assets.each do |asset| %>
            <%= link_to( image_tag(asset.image.url(:thumb)), asset.image.url(:original) ) %>
        <% end %>
    </div>
</div>
