<div class="row">
    <%= render @ferraris %>
</div>
<script type="text/javascript" charset="utf-8">
    $('.year-popover').popover({title: "Hi" , content: "Ho", trigger: "click"});
</script>
<%= will_paginate @ferraris %>