<div class="row">
    <%= render partial: "ferrari_list_item", collection: @ferraris %>
</div>
<script type="text/javascript" charset="utf-8">
    $('.year-popover').popover({title: "Hi" , content: "Ho", trigger: "click"});
</script>
<%= will_paginate @ferraris %>

<script type="text/javascript" charset="utf-8">
    $(".ferrari").click(function(e){
        var id = e.currentTarget.dataset.id;
        var redirectUrl = "http://"+window.location.host+"/ferraris/"+id;
        window.location.href = redirectUrl;
    });
</script>