<div id="sell-your-ferrari">
    

<div class="row">
    <div class="span12 header-section header-sellferrari">
        <div id="title">
            Sell Your Ferrari
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div class="secondary-title">
            Three Simple Steps
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 padding-sellyour border-unselected">
        Enter Vehicle Details
    </div>
    <div class="span4 padding-sellyour border-unselected">
        Review Your Detailed Ad
    </div>
    <div class="span4 padding-sellyour border-selected">
        Confirmation
    </div>
</div>

<div class="row-fluid">
    <div class="span12 span4 padding-sellyour">
        Review Your Detailed Ad
    </div>
</div>

<div class="row-fluid">
    <div class="span12 span4 padding-sellyour">
        Enter the vehicle information that you want to show prospective buyers on your ad "Vehicle Information" and "Contact Information" are the only required sections but the more details and photos you provide, the more shoppers will be attracted to your ad.
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    App.page = "sellferrari"
</script>


<div class="row-fluid sell-ferrari-form">
    <div class="span4 padding-sellyour">
        <label for="card_number">Card Number</label><input type="text" name="card_number" value="" id="card_number">
        <label for="expiration_date">Expiration date</label><input type="text" name="expiration_date" value="" id="expiration_date">
        <label for="cvv">CVV</label><input type="text" name="cvv" value="" id="cvv">
        <label for="name_on_card">Name on Card</label><input type="text" name="name_on_card" value="" id="name_on_card">
        <label for="country">Country</label><input type="text" name="country" value="" id="country">
          
    </div>
    <div class="span4 padding-sellyour">
        <label for="state_provice">State/Provice</label><input type="text" name="state_provice" value="" id="state_provice">  
        <label for="phone_number">Phone Number</label><input type="text" name="phone_number" value="" id="phone_number">
        <label for="address">Address</label><input type="text" name="address" value="" id="address">
        <label for="zip_code">Zip Code</label><input type="text" name="zip_code" value="" id="zip_code">  
    </div>
    <div class="span4 padding-sellyour">
        
    </div>
</div>

<div id="for-sale-proceed" class="btn btn-large btn-primary">
    Process
</div>

<script type="text/javascript" charset="utf-8">
    $(function(){
        $("#for-sale-proceed").on("click", function(){
            window.location.href = "/ferraris/<%= @ferrari.id %>/publish"
        })
    })
</script>