<script type="text/javascript" charset="utf-8">
    var years = <%= raw @years %>;
    App.page = "ferraris"
</script>

<div class="row">
    <div class="span12 header-section header-forsale">
        <div id="title">
            Ferraris For Sale
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div id="query">
            <div id="forsale-query-title">
                Search For:
            </div>
            <div id="filter-year">
                <input type="text" name="year-fr" value="Year From" id="year-fr" class="fromto"> 
                <input type="text" name="year-to" value="Year To" id="year-to" class="fromto">
                
                <input type="hidden" name="yrfr_id" value="" id="yrfr_id"> 
                <input type="hidden" name="yrto_id" value="" id="yrto_id">
            </div>
            <div id="filter-model">
                <input type="text" name="model" value="Model" id="model"><a href="#" id='dropdown-models'><i class="icon-chevron_down"></i></a>
                <input type="hidden" name="modl_id" value="" id="modl_id">
            </div>
            <div id="filter-price">
                <input type="text" name="prce_fr" value="Price From" id="prce_fr" class="fromto"> <input type="text" name="prce_to" value="Price To" id="prce_to" class="fromto">
            </div>
            <div id="filter-keywords">
                <input type="text" name="keywords" value="Keywords" id="keywords">
            </div>            
        </div>
        <div class="clearfix">
            
        </div>
        <div class="ferrari_controls">
            <div class="ferrari_control" id="submit">
                <input type="submit" class="btn" name="submit" value="Filter" id="submit">
            </div>
            <div class="ferrari_control" id="save">
                <button class="btn" id="save_search">Save Search</button>
            </div>
            <div class="ferrari_control" id="errorMessage" style="display:none;">
                IMPORTANT: From should be less than To.
            </div>
        </div>
    </div>
</div>

<div class="row" id="ferraris-bb-list">
</div>