<div class="row">
    <div class="span12 header-forsale">
        <div id="title">
            Ferraris For Sale
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div id="query">
            <div id="forsale-query-title">
                Search For:
            </div>
            <div id="filter-year">
                <input type="text" name="year" value="Year" id="year"> <i class="icon-chevron_down"></i>
            </div>
            <div id="filter-model">
                <input type="text" name="model" value="Model" id="model"> <i class="icon-chevron_down"></i>
            </div>
            <div id="filter-price">
                <input type="text" name="price" value="Price" id="price"> <i class="icon-chevron_down"></i>
            </div>
            <div id="filter-keywords">
                <input type="text" name="keywords" value="Keyworkds" id="keywords"> <i class="icon-chevron_down"></i>
            </div>
            <div id="submit">
                <input type="submit" name="submit" value="Filter" id="submit">
            </div>
        </div>
    </div>
</div>

<%= will_paginate %>

<%= render 'ferraris/list' %>

<%= will_paginate %>