<div class="row">
    <div class="span12 header-section header-generic">
        <div id="title">
            My Ferraris
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
    </div>
</div>

<%= will_paginate %>

<%= render 'ferraris/list' %>

<%= will_paginate %>