<div class="row">
    <div class="span12 header-section header-sellferrari">
        <div id="title">
            Sell Your Ferrari
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div class="secondary-title">
            Three Simple Steps
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 padding-sellyour border-unselected">
        Enter Vehicle Details
    </div>
    <div class="span4 padding-sellyour border-selected">
        Review Your Detailed Ad
    </div>
    <div class="span4 padding-sellyour border-unselected">
        Confirmation
    </div>
</div>

<div class="row-fluid">
    <div class="span12 span4 padding-sellyour">
        Review Your Detailed Ad
    </div>
</div>

<div class="row-fluid">
    <div class="span12 span4 padding-sellyour">
        Enter the vehicle information that you want to show prospective buyers on your ad "Vehicle Information" and "Contact Information" are the only required sections but the more details and photos you provide, the more shoppers will be attracted to your ad.
    </div>
</div>

<% provide(:title, "Preview Ferrari for sale #{@ferrari.car_model_str} | #{@ferrari.car_year_str}") %>

<%= render @ferrari %>


<div class="row-fluid steps-bar-container">
    <div class="span12 steps-bar">
        <div id="for-sale-edit" class="span2 offset4 button-step">
            Edit
        </div>
        <div id="for-sale-proceed" class="span2 button-step">
            Proceed
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(function(){
        if($("#for-sale-proceed").length != 0) {
            var id = <%= @ferrari.id %>;
            $("#for-sale-proceed").on("click", function(){
                window.location.href = "/ferraris/"+id+"/confirm"
            })
        }

        if($("#for-sale-edit").length != 0) {
            var id = <%= @ferrari.id %>;
            $("#for-sale-edit").on("click", function(){
                window.location.href = "/ferraris/"+id+"/edit"
            })
        }
    })
</script>