/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./all
 *= require bootstrapicons.min
 */

@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('/assets/glyphicons-halflings-regular.eot');
   src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/glyphicons-halflings-regular.woff') format('woff'),
        url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
        url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    font-family:"Conv_GothamNarrow-Light",sans-serif !important;
    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    background-color: #000000 !important;
    background-position-y: 502px;
    background-repeat: no-repeat;
    background-size:100% auto;
    background-image: url(/assets/backgroundgradientflip.jpg);
    color:#000000;
}

#logo img {
    height: 38px;
    top: 15px;
    position: relative;
}

a {
    color:#000000;
    font-family:"Conv_GothamNarrow-Medium",sans-serif !important;
    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

table a:hover {
    color: #333333;
    background-color:transparent;
}

#back-yellow {
    position: absolute;
    width: 100%;
    height: 432px;
    background-color: #FCD112;
    z-index: -1;
}

header, .navbar-inner .header {
    /*min-height:70px !important;*/
}

.header {
    background-color:#1b1b1b !important;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
    border-color: #252525;
}

.container {
    background-color:#f0f0f0;
}

select {
    width:100px;
}


.share-button {
    padding: 0px;
    background-color: #FCD112;
    text-align: center;
    font-size: 1.2em;
    position: relative;
    top: -1px;
    width: 45px;
    display: inline-block;
    height: 42px;
    left: 12px;
    line-height:45px;
}

.facebook {
    background-color: #FCD112;
}

.twitter {
    background-color: #cccccc;
}

.spinner {
    position: absolute !important;
    width: 0px;
    z-index: 2000000000;
    top: 10%;
    left: 10%;
}
