/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./all
 */

body {
    color:#FCD112 !important;
    font-family:"Conv_GothamNarrow-Light",sans-serif !important;
    background-color: #FCD112 !important;
    background-size: 2000px;
    background-position-y: 493px;
    background-repeat: no-repeat;
    /*background-image: url(http://farm2.staticflickr.com/1123/5115716409_58657498f6_o.jpg);*/
}

table a:hover {
    color: #333333;
    background-color:transparent;
}

header, .navbar-inner .header {
    min-height:70px !important;
}

.header {
    background-color:#1b1b1b !important;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
    border-color: #252525;
}

.container {
    background-color:#f0f0f0;
}

select {
    width:100px;
}