// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ferrari-line {
    border-bottom: 1px solid #8FBCDB;
}

.ferrari-line img {
}

.details {
    position:relative;
    font-size:30px;
    height:150px;
    font-size:14px;
}

.text-details {
    position:relative;
    line-height:23px;
    
    .description {
        font-size:14px;
    }
}

#slideshow {
    width: 128%;
    margin-left: -14%;
}

.thumbnails {

}

.modal {
    width: 800px;
    margin-left: -400px; /* - width/2 */
}

#slideshow {
    box-shadow: 4px 1px 29px 7px #000000;
}

.blog {
    margin-left:0px;
}