  <div class="row">
      <div class="span12">
            <%= link_to car_model.car_model, car_model %> | <%= link_to car_model.year.car_year, car_model.year %>
      </div>
  </div>
  <div class="row">
      <div class="span4">
        <ul class="unstyled">
          <%= render car_model.engines %>
        </ul>
     </div>
     <div class="span4">
        <ul class="unstyled">
        <%= render car_model.transmissions %>
        </ul>
     </div>
  </div>