<script type="text/javascript" charset="utf-8">
    var years = <%= raw @years %>;
    App.page = "collection"
</script>
<div class="row">
    <div class="span12 header-section header-collection">
        <div id="title">
            Collection
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div id="query">
            <div id="forsale-query-title">
                Search For:
            </div>
            <div id="filter-year">
                <!-- form method="get" accept-charset="utf-8" -->
                    <input type="text" name="from" value="Year Fr" id="year-fr" class="fromto"> 
                    <input type="text" name="to" value="Year To" id="year-to" class="fromto">
                    <input type="text" name="model" value="Model" id="model"><a href="#" id='dropdown-models'><i class="icon-chevron_down"></i></a>
                    <p><input type="submit" value="Search" id="search"></p>
                <!-- /form -->
            </div>
        </div>
    </div>
</div>

<div class="row" id="collection-list">
    <div class="span12 ajax-loader" id="loader">
        <span><img src="/assets/ajax-loader.gif" /></span>
    </div>
</div>

