<footer class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div id="top">
                    <div id="icon">
                        <span class="glyphicon glyphicon-phone"></span>
                    </div>
                    <div id="title">
                        Services
                    </div>
                </div>
                <div id="bot">
                    Some text
                </div>
            </div>
            <div class="span3">
                <div id="top">
                    <div id="icon">
                        <i class="fa-paper-plane"></i>
                    </div>
                    <div id="title">
                        Services
                    </div>
                </div>
                <div id="bot">
                    Some text
                </div>
            </div>
            <div class="span3">
                <div id="top">
                    <div id="icon">
                        <i class="icon-envelope"></i>
                    </div>
                    <div id="title">
                        Services
                    </div>
                </div>
                <div id="bot">
                    Some text
                </div>
            </div>
            <div class="span3">
                <div id="top">
                    <div id="icon">
                        <i class="icon-envelope"></i>
                    </div>
                    <div id="title">
                        Services
                    </div>
                </div>
                <div id="bot">
                    Some text
                </div>
            </div>
        </div>
    </div>
</footer>