<footer class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12" id="logo">
                <!-- a href="/"><img src="/assets/logo_example.png" /></a --> A Unique Ferrari Experience, Lifestyle with and imperative need for design and speed.
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div id="top">
                    <div id="icon">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </div>
                    <div id="title">
                        Services
                    </div>
                </div>
                <div id="bot">
                    <ul class="unstyled">
                        <li><a href="">Appraisal service</a></li>
                        <li><a href="">Transportation</a></li>
                        <li><a href="">Escrow service</a></li>
                        <li><a href="">Insurance </a></li>
                        <li><a href="">Extended warranties</a></li>
                        <li><a href="">Auction results</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div id="top">
                    <div id="icon">
                        <span class="glyphicon glyphicon-pushpin"></span>
                    </div>
                    <div id="title">
                        Ferraris
                    </div>
                </div>
                <div id="bot">
                    <ul class="unstyled">
                        <li><a href="">Blog</a></li>
                        <li><a href="">Ferraris for sale</a></li>
                        <li><a href="">Sell your Ferrari</a></li>
                        <li><a href="">Ferrari Collection</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div id="top">
                    <div id="icon">
                        <span class="glyphicon glyphicon-import"></span>
                    </div>
                    <div id="title">
                        Useful Links
                    </div>
                </div>
                <div id="bot">
                    <ul class="unstyled">
                        <li><a href="">Ferrari List</a></li>
                        <li><a href="">History of Ferrari</a></li>
                        <li><a href="">Newsletter</a></li>
                        <li><a href="">Blog Notifications</a></li>
                        <li><a href="">One more link</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div id="top">
                    <div id="icon">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </div>
                    <div id="title">
                        Stay in Contact!
                    </div>
                </div>
                <div id="bot">
                    <div id="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12" id="builder">
A Site by Simple Custom Solutions - @feelAnalytic (Ignacio Palladino)
            </div>
        </div>
    </div>
</footer>